@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@400;600&display=swap');

.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}

.popup {
    position: relative;
    bottom: 70px;
    left: 250px;
    margin: 10%;
    width: 50%;
    background-color: rgb(243, 243, 243);
    padding: 1em;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.card-test {
    position: relative;
    top: 80px;
}



*{
  font-family: 'Baloo Paaji 2', cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body{
  background: #f5f5f5;
}

.top_navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #fff;
  box-shadow: 1px 0 2px rgba(0,0,0,0.125);
  display: flex;
  align-items: center;
}

.top_navbar .logo{
  width: 250px;
  font-size: 25px;
  font-weight: 600;
  padding: 0 25px;
  color: #401386;
  letter-spacing: 2px;
  text-transform: uppercase;
  border-right: 1px solid #f5f5f5;
}

.top_navbar .logo span{
  font-weight: 400;
}

.top_navbar .menu{
  width: calc(100% - 250px);
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top_navbar .hamburger{
  font-size: 25px;
  cursor: pointer;
  color: #401386;
}

.top_navbar .hamburger:hover{
  color: #401386;
}


.hover_collapse .sidebar{
  width: 70px;
}

.hover_collapse .sidebar ul li a .text{
  display: none;
}

.sidebar{
  position: fixed;
  top: 60px;
  left: 0;
  width: 250px;
  height: 100%;
  background: #401386;
}

.sidebar ul li a{
  display: block;
  padding: 12px 25px;
  border-bottom: 1px solid #c978ff;
  color: #ffffff;
  transition: all 0.2s ease;
}

.sidebar ul li a .icon{
  font-size: 18px;
  vertical-align: center;
  transition: background 0.2s ease;
}

.sidebar ul li a .text{
  margin-left: 10px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sidebar ul li a span.icon :hover{
  background: #401386;
  color: rgb(170, 126, 126);
}

.sidebar ul li a span.icon :hover{
  background: #401386;
  color: #fff;
}

.click_collapse .sidebar{
  transition: all 0.2s ease;
}

.main_container{
  margin-top: 60px;
  margin-left: 70px;
  padding: 25px;
  width: calc(100% - 70px);
}

.main_container .content{
  background: #fff;
  padding: 25px;
  margin-bottom: 25px;
  text-align: justify;
}

.click_collapse .main_container{
  width: calc(100% - 250px);
  margin-left: 250px;
  transition: all 0.2s ease;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.22em;
  font-family: Verdana;
  min-width: 550px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #2a1f3a;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr {
  font-size: 18px;
}

.styled-table tbody tr td a {
  font-size: 16px;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #401386;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.Addelement {
	background-color:#6120ca;
	border-radius:5px;
	border:1px solid #7b3fdc;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:12px;
	padding:5px 11px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.Addelement:hover {
	background-color:#7424f3;
}
.Addelement:active {
	position:relative;
	top:1px;
}